<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnesslog">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.fitnesslog.activities.BaseWorkoutLogActivity" />
        <activity android:name="com.example.fitnesslog.activities.WorkoutCalendar" />
        <activity
            android:name="com.example.fitnesslog.activities.AdvancedActivity"
            android:label="Advanced routine" />
        <activity
            android:name="com.example.fitnesslog.activities.Stopwatch"
            android:label="Stopwatch" />
        <activity
            android:name="com.example.fitnesslog.activities.ExerciseTutorials"
            android:label="Tutorials" />
        <activity
            android:name="com.example.fitnesslog.activities.IntermediateActivity"
            android:label="Intermediate routine" />
        <activity
            android:name="com.example.fitnesslog.activities.BeginnerActivity"
            android:label="Beginner routine" />
        <activity android:name="com.example.fitnesslog.activities.NewProgramActivity" />
        <activity android:name="com.example.fitnesslog.activities.AskingForWeightsActivity" />
        <activity
            android:name="com.example.fitnesslog.activities.AboutActivity"
            android:label="About" />
        <activity android:name="com.example.fitnesslog.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>